#mapid {
    height: 670px;
}

header{
    background-color: #F4A261;
    color: #060C0E;
}

main {
    display: flex;
    flex-direction: column;
    
}

.top{
    display: flex;
}

.top_left{
    width: 19%;
    background-color: #F39B53;
    margin-right: 10px;
}

.top_right{
    width: 80%;
    background-color: #F39B53;
}

.bottom{
    display: flex;
}

.bottom_left{
    width: 50%;
    margin-top: 10px;
}

.bottom_right{
    width: 49%;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #F39B53;
}
footer {
    display: flex;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
    text-align: center;
}

footer div {
    width: 33%;
    height: 20px;
}

.filter-box label{
    width: 100px;
    line-height: 1.8em;
}

.form-control{
    line-height: 50px;
    margin-left: 10px;
}

.form-control label{
    letter-spacing: 0.15em;
}

body{
    background-color: #E9C46A;
}

h5{
    margin-top: 10px;
    margin-bottom: 5px;
}

h4{
    margin-top: 10px;
    margin-bottom: 5px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.homes-box{
    margin-left: 10px;
}

.book{
    margin-left: 10px;
}

.totalPriceBlock{
    margin-left: 10px;
}

button{
    margin-left: 40px;
    padding: 40px;
}

